autom4te.cache
/src/.deps
/src/libEmbXml/*.lo
/src/libEmbXml/*.la
/src/libEmbXml/*.o
/src/libEmbXml/*.a
/src/libEmbXml/.libs
/src/libEmbXml/.deps
/src/libEmbMem/*.lo
/src/libEmbMem/*.la
/src/libEmbMem/*.o
/src/libEmbMem/*.a
/src/libEmbMem/.libs
/src/libEmbMem/.deps
result
test/artifacts
test/*.exe
test/*.o

